@charset "utf-8";
@import "addons.scss";
@import "lenovo.scss";

.lenovo {
  @include addons;
  @include lenovo;
  
  .v-cache-loading-indicator {
        position:absolute;
        right: 5px;
        top: 5px;
        width:10px;
        height:10px;
	}
}